<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ver Empleado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .card {
            margin-top: 50px;
            border-radius: 15px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <h1 class="text-center">Detalles del Empleado</h1>
            <div class="mb-3">
                <p><strong>DNI:</strong> <span th:text="${empleado.dni}"></span></p>
                <p><strong>Nombre:</strong> <span th:text="${empleado.nombreEmpleado}"></span></p>
                <p><strong>Apellido:</strong> <span th:text="${empleado.apellidoEmpleado}"></span></p>
                <p><strong>Fecha de Nacimiento:</strong> <span th:text="${#dates.format(empleado.fechaNacimiento, 'yyyy-MM-dd')}"></span></p>
                <p><strong>Dirección:</strong> <span th:text="${empleado.direccion}"></span></p>
                <p><strong>Correo:</strong> <span th:text="${empleado.correo}"></span></p>
                <p><strong>Área:</strong> <span th:text="${empleado.area.nombreArea}"></span></p>
            </div>

            <div class="d-flex justify-content-between">
                <form action="#" th:action="@{/delete/{dni}(dni=${empleado.dni})}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea eliminar a este empleado?');">Eliminar</button>
                </form>
                <a href="/empleados" class="btn btn-dark">Volver</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>