<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Portal de Gestión de Empleados</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .card {
            margin-top: 50px;
            border-radius: 15px;
        }
        .table th, .table td {
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <h1 class="text-center">Lista de Empleados</h1>
            <div class="mb-3 text-right">
				<a th:href="@{/registrar_empleado}" class="btn btn-success">Registrar</a>
            </div>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>DNI</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Dirección</th>
                        <th>Correo</th>
                        <th>Área</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="empleado : ${listar_empleados}">
                        <td th:text="${empleado.dni}"></td>
                        <td th:text="${empleado.nombreEmpleado}"></td>
                        <td th:text="${empleado.apellidoEmpleado}"></td>
                        <td th:text="${#dates.format(empleado.fechaNacimiento, 'yyyy-MM-dd')}"></td>
                        <td th:text="${empleado.direccion}"></td>
                        <td th:text="${empleado.correo}"></td>
                        <td th:text="${empleado.area.nombreArea}"></td>
                        <td>
                            <a th:href="@{/detalle_empleado/{dni}(dni=${empleado.dni})}" class="btn btn-info">Ver</a>
                            <a th:href="@{/editar_empleado/editar/{dni}(dni=${empleado.dni})}" class="btn btn-warning">Editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>